<%= content_for :article_header do %>
  <div class="header header-filter <%= header_class %>" style="background-image: url('<%= header_image %>');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title title-header text-center"><%= header_title %></h2>
        </div>
      </div>
    </div>
  </div>
<% end %>
