<%= render 'articles/header',
           header_class: 'big-header',
           header_image: 'http://demos.creative-tim.com/material-kit-pro/assets/img/bg10.jpg',
           header_title: @article.title %>

<%= render 'articles/layout' do %>
  <div class="article-full-content">
    <%= simple_format @article.text %>
  </div>
<% end %>
