<footer class="footer">
  <div class="container">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://github.com/hckhanh/bloggrails" target="_blank">
            Github
          </a>
        </li>
        <li>
          <%= link_to 'Instruction', instruction_path %>
        </li>
        <li>
          <a href="https://github.com/hckhanh/bloggrails/blob/master/LICENSE" target="_blank">
            License
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy; <%= Time.now.year %>, made with <i class="fa fa-heart heart"></i> by
      <a href="https://github.com/hckhanh" target="_blank">Khanh Hoang</a>,
      with a little help from <a href="http://www.creative-tim.com" target="_blank">Creative Time</a>
    </div>
  </div>
</footer>
